@model ExamSkillProject.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
}

<h1>Employee details</h1>

<dl>
    <dt>Full name</dt>
    <dd>@Model.FirstName @Model.LastName</dd>
    <dt>Email</dt>
    <dd>@Model.Email</dd>
</dl>


@Html.ActionLink("Back", "Index")

