@model ExamSkillProject.Models.Skills

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <h2>Create New Skill</h2>
        <form action="Create" method="post">
            <div class="form-horizontal">
                <h4>New Skill</h4>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2" for="SkillName">Name</label>
                    <div class="col-md-10">
                        <input id="SkillName" name="SkillName" type="text" class="form-control text-box single-line" />
                    </div>
                    <label class="control-label col-md-2" for="SkillDescription">Description</label>
                    <div class="col-md-10">
                        <input id="SkillDescription" name="SkillDescription" type="text" class="form-control text-box single-line" />
                    </div>
                    <label class="control-label col-md-2" for="SkillPoints">Points</label>
                    <div class="col-md-10">
                        <input id="SkillPoints" name="SkillPoints" type="text" class="form-control text-box single-line" />
                    </div>

                </div>
                <div class="col-md-10">
                    <input class="btn btn-default" type="submit" value="Create" />
                </div>
            </div>
        </form>
        <p>
            @Html.ActionLink("Back to List", "ShowAllSkill")
        </p>
    </div>
</body>
</html>