@model IEnumerable<ExamSkillProject.Models.Skills>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="text-align: center;">
        <h2>List of all Skills</h2>
        <div class="list-group">
            <div style="font-size: 150%;">
                @foreach (var skill in Model)
                {

                    <div>@Html.ActionLink(skill.SkillsName, "SkillDetails", new { id = skill.SkillsId }) | @skill.SkillsPoints</div><hr />

                }
                <p>@Html.ActionLink("Add New Skill", "CreateSkill")</p>
            </div>
        </div>
    </div>
</body>
</html> 